<%- include('../partials/header') %>

 <h1 class="explore">Explore all Workouts!</h1>
 <div id="workouts-grid">
   <table>
       <% workouts.forEach(function(w) { %>
         <a href="/workouts/<%= w._id %>" class="cursor-link animsition-link tipped" %>">
          <div class="item">
              <img src="<%= w.url %>" width="100%" height="100%" alt="">
              <div><%= w.title %></div>
           </div>
         </a>



         <% }) %>
     </tbody>
   </table>
  </div>
</div>

<%- include('../partials/footer') %>