<%- include('../partials/header') %>

<section id="show-page">
    <div>Workout Name </div>
    <div><%= workout.title %></div>
    <div>About: </div>
    <div><%= workout.about %></div>
    <div>The Workout Plan: </div>
    <div><%= workout.workoutDetails %></div>
    <div>Difficulty: </div>
    <div><%= workout.difficulyLevel%></div>
  </section>
