<%- include('../partials/header') %>

<section id="show-page">
    <div>Workout Name </div>
    <div><%= workout.title %></div>
    <div>About: </div>
    <div><%= workout.about %></div>
    <div>The Workout Plan: </div>
    <div><%= workout.workoutDetails %></div>
    <div>Difficulty: </div>
    <div><%= workout.difficulyLevel%></div>
  </section>

  <br><h2>Comment Section</h2>
  <form id="add-comment-form" method="POST"
    action="/workouts/<%= workout._id %>/comments">
    <label>Add a Comment
        <input type="text">
        <input type="submit" value="Post">
    </label>
 </form>