<%- include('../partials/header') %>
<div id="showing">
  <section id="show-page">
      <div class="name">Workout</div>
      <div class="name"><%= workout.title %></div>
      <div><img src="<%= workout.url %>" height="700px" width="700px"></div>
      <div class="about">About:</div>
      <div><%= workout.about %></div>
      <div class="plan">The Workout Plan: </div>
      <div class="plan2"><%= workout.workoutDetails %></div>
      <div class="diff">Difficulty: </div>
      <div class="diff2"><%= workout.difficulyLevel%></div>
  </section>
  
  <br><br>
  <h2>Comments</h2>
  <div class="comment-container">
    <% if(user) { %>
      <form id="add-comment-form" method="POST" action="/workouts/<%= workout._id %>/comments">
        
        <textarea name="content"></textarea>
        <input id="buttonD" type="submit" value="Add Comment">
      </form>
    <% } %>
    
       <% if (workout.comments.length) { %>
        <table>
          <thead>
            <tr>
              <th>User</th>
              <th>Comment</th>
              <th>Date</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% workout.comments.forEach(function(c) { %>
              <tr>
                <td class="comment-user"><img alt="avatar" src="<%= c.userAvatar %>" referrerpolicy="no-referrer" ><%= c.userName %></td>
                <td class="comment-length"><%= c.content %></td>
                <td><%= c.createdAt.toLocaleDateString() %></td>
                <td>
                  <% if (user && user._id.equals(c.user)) { %>
                    <div class="comment-user">
                      <br>
                      <form action="/comments/<%= c._id %>?_method=PUT" method="POST">
                        <input id="edit"name="text" value="<%= c.text %>">
                        <button id="buttonD" type="submit">Edit Comment</button>
                      </form>
                      <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                        <button id="x" type="submit">X</button>
                      </form>
                    </div>
                  <% } %>
                </td>
              </tr>
            <% }); %>
            </tbody>
        </table>
    <% } else { %>
      <h5>No Comments Yet</h5>
    <% } %>
  </div> 
</div>
<%- include('../partials/footer') %>
